<div class="flex items-center justify-end p-4 px-6">
  <span
    (click)="showModal()"
    class="justify-end"
    nz-icon
    style="font-size: 23px"
    nzType="user"
    nzTheme="outline"
  >
  </span>
</div>
<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #modalTitle class="text-xl font-bold"
    >User Credentials
  </ng-template>

  <ng-template #modalContent>
    <p class="text-md font-semibold">
      USERNAME : <span class="font-normal">{{ userName }}</span>
    </p>
    <p class="text-md font-semibold">
      EMAIL : <span class="font-normal">{{ email }}</span>
    </p>
    <p class="text-md font-semibold">
      ROLE : <span class="font-normal">{{ role }}</span>
    </p>
    <p class="text-md font-semibold">
      DEPARTMENT : <span class="font-normal">{{ department }}</span>
    </p>
  </ng-template>

  <ng-template #modalFooter>
    <button
      nz-button
      nzType="primary"
      [routerLink]="['./login']"
      (click)="logout()"
      [nzLoading]="isConfirmLoading"
    >
      Log Out
    </button>
  </ng-template>
</nz-modal>
