<h1 class="text-lg font-medium text-center">
  {{ staffId > 0 ? "Edit" : "Add" }} Staff
</h1>
<form nz-form [formGroup]="form" class="w-[400px]" nzLayout="vertical">
  <nz-form-item>
    <nz-form-label nzRequired>Name</nz-form-label>
    <nz-form-control nzErrorTip="Please input staff name">
      <input nz-input type="text" formControlName="name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>Email</nz-form-label>
    <nz-form-control nzErrorTip="Please input valid email">
      <input nz-input type="text" formControlName="email" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>Department</nz-form-label>
    <nz-form-control nzErrorTip="Please select department">
      <nz-select nzShowSearch nzAllowClear formControlName="deptId">
        <nz-option
          [nzValue]="d.id"
          [nzLabel]="d.name"
          *ngFor="let d of departments"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <div class="flex gap-4">
    <button nz-button [nzType]="'primary'" class="flex-grow" (click)="submit()">
      {{ staffId > 0 ? "Save" : "Add" }}
    </button>
    <button
      nz-button
      [nzType]="'default'"
      class="flex-grow"
      (click)="staffId = -1; form.reset()"
      *ngIf="staffId > 0"
    >
      cancel
    </button>
  </div>
</form>
