<!-- <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
  <li nz-submenu nzOpen nzTitle="Departments" nzIcon="dashboard">
    <ul nz-menu nzMode="inline" style="width: 240px">
      <ng-container
        *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"
      ></ng-container>
      <ng-template #menuTpl let-menus>
        <ng-container *ngFor="let menu of menus">
          <li
            *ngIf="!menu.children"
            nz-menu-item
            [nzPaddingLeft]="menu.level * 24"
            [nzDisabled]="menu.disabled"
            [nzSelected]="menu.selected"
          >
            <span
              nz-icon
              [nzType]="menu.icon"
              [nzTheme]="menu.theme"
              *ngIf="menu.icon"
            ></span>
            <span>{{ menu.title }}</span>
          </li>
          <li
            *ngIf="menu.children"
            nz-submenu
            [nzPaddingLeft]="menu.level * 24"
            [nzOpen]="menu.open"
            [nzTitle]="menu.title"
            [nzIcon]="menu.icon"
            [nzDisabled]="menu.disabled"
          >
            <ul>
              <ng-container
                *ngTemplateOutlet="
                  menuTpl;
                  context: { $implicit: menu.children }
                "
              ></ng-container>
            </ul>
          </li>
        </ng-container>
      </ng-template>
    </ul>
  </li>
</ul> -->
<ul
  nz-menu
  [nzMode]="mode ? 'vertical' : 'inline'"
  [nzTheme]="dark ? 'dark' : 'light'"
>
  <li
    *ngIf="notesManager"
    class="font-semibold text-lg"
    nz-submenu
    nzTitle="Admin Dashboard"
    nzIcon="Dashboard"
  ></li>
  <li
    nz-submenu
    nzTitle="Departments"
    class="font-semibold text-lg"
    nzIcon="appstore"
  >
    <ul class="font-normal text-md">
      <li
        nz-submenu
        nzTitle="Computer Science Engineering"
        [routerLink]="['./CSE']"
      >
        <ul>
          <li nz-menu-item id="1">Semester 1</li>
          <li nz-menu-item id="2">Semester 2</li>
          <li nz-menu-item id="3">Semester 3</li>
          <li nz-menu-item id="4">Semester 4</li>
          <li nz-menu-item id="5">Semester 5</li>
          <li nz-menu-item id="6">Semester 6</li>
          <li nz-menu-item id="7">Semester 7</li>
          <li nz-menu-item id="8">Semester 8</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="EEE">
        <ul>
          <li nz-menu-item id="1">Semester 1</li>
          <li nz-menu-item id="2">Semester 2</li>
          <li nz-menu-item id="3">Semester 3</li>
          <li nz-menu-item id="4">Semester 4</li>
          <li nz-menu-item id="5">Semester 5</li>
          <li nz-menu-item id="6">Semester 6</li>
          <li nz-menu-item id="7">Semester 7</li>
          <li nz-menu-item id="8">Semester 8</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Mechanical">
        <ul>
          <li nz-menu-item id="1">Semester 1</li>
          <li nz-menu-item id="2">Semester 2</li>
          <li nz-menu-item id="3">Semester 3</li>
          <li nz-menu-item id="4">Semester 4</li>
          <li nz-menu-item id="5">Semester 5</li>
          <li nz-menu-item id="6">Semester 6</li>
          <li nz-menu-item id="7">Semester 7</li>
          <li nz-menu-item id="8">Semester 8</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="ECE">
        <ul>
          <li nz-menu-item id="1">Semester 1</li>
          <li nz-menu-item id="2">Semester 2</li>
          <li nz-menu-item id="3">Semester 3</li>
          <li nz-menu-item id="4">Semester 4</li>
          <li nz-menu-item id="5">Semester 5</li>
          <li nz-menu-item id="6">Semester 6</li>
          <li nz-menu-item id="7">Semester 7</li>
          <li nz-menu-item id="8">Semester 8</li>
        </ul>
      </li>
    </ul>
  </li>
  <li
    *ngIf="notesManager"
    class="font-semibold text-lg"
    nz-submenu
    nzTitle="Notes Manager"
    nzIcon="setting"
    [routerLink]="['./notes']"
  ></li>
</ul>
