<div class="flex items-start gap-4 mb-4">
  <button
    nz-button
    (click)="isUpload = true"
    *ngIf="user.role === 'ADMIN' || user.role === 'STAFF'"
  >
    <span nz-icon nzType="plus"></span>
    Add Notes
  </button>
  <button
    *ngIf="user.role === 'ADMIN'"
    nz-button
    nz-popover
    #popoverRef="nzPopover"
    nzPopoverTrigger="click"
    nzPopoverPlacement="bottomLeft"
    [nzPopoverContent]="contentTemplate"
  >
    <span nz-icon nzType="filter"></span>
    Filter
  </button>
</div>

<div class="flex flex-wrap gap-4 mt-8" *ngIf="user.role === 'STUDENT'">
  <div *ngFor="let file of files" class="flex flex-col items-center">
    <div class="flex gap-5">
      <span class="text-lg font-medium">{{ file.fileName }}</span>
      <a [href]="'http://localhost:3000/' + file.fileName" target="_blank">
        <button nz-button nzSize="small">
          <span nz-icon nzType="eye"></span>
        </button>
      </a>
      <button nz-button nzSize="small" (click)="downloadPdf(file.fileName)">
        <span nz-icon nzType="download"></span>
      </button>
    </div>
    <pdf-viewer
      [src]="'http://localhost:3000/' + file.fileName"
      [render-text]="true"
      [original-size]="false"
      class="w-[400px] h-[450px] border border-gray-300"
    ></pdf-viewer>
  </div>
</div>

<div
  *ngIf="(user.role === 'ADMIN' || user.role === 'STAFF') && files.length > 0"
  class="flex flex-wrap gap-4"
  [@staggerAnimation]="files.length"
>
  <div
    *ngFor="let file of files; let i = index"
    class="flex flex-col gap-3 p-3 border border-gray-100 max-w-max"
    @fadeOut
  >
    <div class="flex items-center gap-5">
      <a [href]="'http://localhost:3000/' + file.fileName" target="_blank">{{
        file.fileName
      }}</a>
      <span
        nz-icon
        nzType="delete"
        nz-popconfirm="Are you sure want to delete this pdf?"
        (nzOnConfirm)="deletePdf(i)"
        class="text-red-500 cursor-pointer"
      ></span>
    </div>
    <div>
      <nz-tag nzColor="blue">{{ file.userName }}</nz-tag>
      <nz-tag nzColor="geekblue">{{ file.departmentName }}</nz-tag>
      <nz-tag nzColor="purple">{{ file.subjectName }}</nz-tag>
    </div>
  </div>
</div>

<ng-template #contentTemplate>
  <div class="w-[300px] flex flex-col gap-4">
    <div>
      <span class="w-full text-gray-500">Department</span>
      <hr class="my-1 mb-2" />
      <nz-radio-group [(ngModel)]="tempFilter.department">
        <label nz-radio [nzValue]="dept.id" *ngFor="let dept of departments">{{
          dept.name
        }}</label>
      </nz-radio-group>
    </div>
    <div>
      <span class="w-full text-gray-500">Users</span>
      <hr class="my-1 mb-2" />
      <nz-radio-group [(ngModel)]="tempFilter.user">
        <label nz-radio [nzValue]="u.id" *ngFor="let u of users">{{
          u.name
        }}</label>
      </nz-radio-group>
    </div>
    <div>
      <hr class="my-1 mb-2" />
      <div class="flex justify-end gap-4">
        <button nz-button nzSize="small" (click)="cancelFilter()">
          Cancel
        </button>
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          (click)="saveFilter()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</ng-template>

<nz-modal
  [(nzVisible)]="isUpload"
  nzTitle="Add Notes"
  (nzOnCancel)="isUpload = false; fileList = []"
  (nzOnOk)="uploadPdf()"
  nzOkText="Upload"
>
  <ng-container *nzModalContent>
    <div class="flex items-start gap-4">
      <nz-select
        class="w-[200px]"
        [(ngModel)]="selectedSubject"
        nzPlaceHolder="Select subject."
      >
        <nz-option
          *ngFor="let sub of subjects"
          [nzValue]="sub.id"
          [nzLabel]="sub.name"
        ></nz-option>
      </nz-select>
      <nz-upload
        *ngIf="user.role === 'ADMIN' || user.role === 'STAFF'"
        nzMultiple
        [(nzFileList)]="fileList"
        [nzBeforeUpload]="beforeUpload"
      >
        <button nz-button>
          <span nz-icon nzType="plus"></span>
          Add Pdf
        </button>
      </nz-upload>
    </div>
  </ng-container>
</nz-modal>
